input[type=range].density {
  height: 34px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range].density:focus {
  outline: none;
}
input[type=range].density::-webkit-slider-runnable-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: rgb(235,235,235);
background: linear-gradient(90deg, rgba(235,235,235,1) 0%, rgba(121,125,127,1) 100%);
  border-radius: 1px;
  border: 0px solid #010101;
}
input[type=range].density::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000031;
  border: 2px solid #D7DBDD;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.5px;
}
input[type=range].density:focus::-webkit-slider-runnable-track {
 background: rgb(235,235,235);
background: linear-gradient(90deg, rgba(235,235,235,1) 0%, rgba(121,125,127,1) 100%);
}
input[type=range].density::-moz-range-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: rgb(235,235,235);
background: linear-gradient(90deg, rgba(235,235,235,1) 0%, rgba(121,125,127,1) 100%);
  border-radius: 1px;
  border: 0px solid #010101;
}
input[type=range].density::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000031;
  border: 2px solid #D7DBDD;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range].density::-ms-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].density::-ms-fill-lower {
  background: #D87020;
  border: 0px solid #010101;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range].density::-ms-fill-upper {
  background: #D87020;
  border: 0px solid #010101;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range].density::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000031;
  border: 2px solid #D7DBDD;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range].density:focus::-ms-fill-lower {
  background: #D87020;
}
input[type=range].density:focus::-ms-fill-upper {
  background: #D87020;
}