@keyframes gopWidth {
	0% {
		width: 50%;
	}
	10% {
		width: 60%;
	}
	20% {
		width: 70%;
	}
	30% {
		width: 65%;
	}
	40% {
		width: 48%;
	}
	50% {
		width: 53%;
	}
	60% {
		width: 58%;
	}
	70% {
		width: 30%;
	}
	80% {
		width: 45%;
	}
	90% {
		width: 42%;
	}
	100% {
		width: 50%;
	}
}

@keyframes gopMug {
	0% {
		opacity: 0;
	}
	/*9% {
		opacity: 0;
	}*/
	10% {
		opacity: 0;
	}
	/*19% {
		opacity: 0;
	}*/
	20% {
		opacity: 0;
	}
	30% {
		opacity: 0;
	}
	/*39% {
		opacity: 0;
	}*/
	40% {
		opacity: 1;
	}
	/*49% {
		opacity: 1;
	}*/
	50% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	/*69% {
		opacity: 0;
	}*/
	70% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	/*99% {
		opacity: 1;
	}*/
	100% {
		opacity: 0;
	}
}

@keyframes demMug {
	0% {
		opacity: 1;
	}
	/*9% {
		opacity: 0;
	}*/
	10% {
		opacity: 0;
	}
	/*19% {
		opacity: 0;
	}*/
	20% {
		opacity: 0;
	}
	30% {
		opacity: 0;
	}
	/*39% {
		opacity: 0;
	}*/
	40% {
		opacity: 1;
	}
	/*49% {
		opacity: 1;
	}*/
	50% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	/*69% {
		opacity: 0;
	}*/
	70% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	/*99% {
		opacity: 1;
	}*/
	100% {
		opacity: 1;
	}
}

@keyframes demWidth {
	0% {
		width: 50%;
	}
	10% {
		width: 40%;
	}
	20% {
		width: 30%;
	}
	30% {
		width: 35%;
	}
	40% {
		width: 52%;
	}
	50% {
		width: 47%;
	}
	60% {
		width: 42%;
	}
	70% {
		width: 70%;
	}
	80% {
		width: 55%;
	}
	90% {
		width: 58%;
	}
	100% {
		width: 50%;
	}
}


.hero {
	height: 100vh;
	min-height: 940px;
	width: 100%;
	/*padding-top: 15vh;*/
	text-align: center;
	position: relative;
	@media only screen and (max-width: 900px) {
		min-height: 100vh;
	}
	div.minnesota {
		background: url(https://static.startribune.com/svg/whiteoutline2.svg?cache=trashfdas);
		opacity: 0.25;
		background-size: auto;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		width: 100%;
		height: 85%;
		z-index: 100;
		top: 7.5%;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		z-index: 0;
		@media only screen and (max-width: 900px) {
			height: 150px;
			width: 132px;
			opacity: 1;
			top: 10px;
			position: relative;
			left: 0;
			margin: 0 auto;
			margin-bottom: 50px;
			transform: translateX(0%);
			text-align: center;
		}
	}
	div.dem, div.gop {
		z-index: -1;
	}
	div.dem {
		/*width: 50%;*/
		height: 100%;
		position: absolute;
		left: 0;
		text-align: right;
		background: #3498DB;
		animation: demWidth 20s infinite;
	}
	div.gop {
		width: 50%;
		height: 100%;
		position: absolute;
		right: 0;
		text-align: left;
		background: #C0392B;
		animation: gopWidth 20s infinite;
	}
	.headline-wrapper {
		@media only screen and (max-width: 900px) {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 95%;
			transform: translateX(-50%) translateY(-55%);
		}
		img.logo {
			height: 25px;
			margin-top: 300px;
			width: auto;
			margin-bottom: 45px;
			@media only screen and (max-width: 900px) {
				margin-top: 0px;
				height: 23px;
				margin-bottom: 20px;
			}	
		}
		h1 {
			font-family: "Benton Sans";
			font-weight: bold; 
			font-size: 65px;
			letter-spacing: -1px;
			max-width: 900px;
			width: 90%;
			margin: 0 auto;
			text-align: center;
			color: white;
			@media only screen and (max-width: 900px) {
				font-size: 40px;
				line-height: 1.1;
				width: 100%;
			}
			span.party {
				display: inline-block;
				div.mug-wrapper {
					display: inline-block;
					width: 75px;
					height: 75px;
					position: relative;
					@media only screen and (max-width: 900px) {
						width: 50px;
						height: 50px;
					}
				}
				&.republican {
					border-bottom: 10px solid #C0392B;
					.cand-mug {
						position: absolute;
						left: 0;
						top: 10px;
						width: 75px;
						height: 75px;
						border-radius: 50%;
						background-color: #C0392B;
						display: inline-block;
						@media only screen and (max-width: 900px) {
							width: 50px;
							height: 50px;
						}
						&.happy {
							background-image: url(https://static.startribune.com/svg/trump.png?cache=trash);
							background-size: cover;
							background-position: 50% 50%;
						}
						&.sad {
							background-image: url(https://static.startribune.com/svg/sadtrump.png?cache=trashfdssaf);
							background-size: cover;
							background-position: 50% 70%;
							opacity: 0;
							animation: gopMug 20s infinite;
						}
					}
				}
				&.democrat {
					border-bottom: 10px solid #3498DB;
					.cand-mug {
						position: absolute;
						left: 0;
						top: 10px;
						width: 75px;
						height: 75px;
						border-radius: 50%;
						background-color: #3498DB;
						display: inline-block;
						@media only screen and (max-width: 900px) {
							width: 50px;
							height: 50px;
						}						
						&.happy {
							background-image: url(https://static.startribune.com/svg/biden.png?cache=trash);
							background-size: cover;
							background-position: 50% 50%;
							animation: demMug 20s infinite;
						}
						&.sad {
							background-image: url(https://static.startribune.com/svg/bidensad.png?cache=trash);
							background-size: cover;
							background-position: 50% 50%;
							opacity: 1;
						}
					}
				}
			}
		}
	}
}

div.subhead-wrapper {
	p.subhead {
		font-family: "Benton Sans";
		font-weight: normal;
		font-size: 22px;
		max-width: 800px;
		line-height: 1.5;
		width: 85%;
		margin: 0 auto;
		margin-top: 80px;
		margin-bottom: 50px;
		text-align: center;
		@media only screen and (max-width: 900px) {
			font-size: 18px;
			width: 88%;
		}
	}
	p.byline-special {
		font-weight: normal;
		font-size: 14px;
		text-align: center;
		line-height: 1.5;
		width: 85%;
		margin: 0 auto;
		margin-bottom: 30px;
	}
}