input[type=number] {
	text-align: center;
	position: relative;
	/*width: 120px;*/
	font-family: "Benton Sans";
}

div.scenario {
	input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button {  
	   opacity: 1;
	   width: 50px;
	   height: 50px;
	   padding: 10px;
	   background: transparent;
	   color: gray;
	   display: none;
	   position: relative;
	   transform: rotate(90deg);
	   z-index: 10000;
	   &:hover {
	   	cursor: pointer;
	   }
	}

	input[type="number"] {
	    position: relative;
	    text-align: center;
	    width: 100%;
	    font-family: "Benton Sans";
	}


	/*input[type=number]:before {
		content: '+';
		color: gray;
		opacity: 1;
		font-size: 16px;
		position: absolute;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		border: 1px solid gray;
		right: 30px;
		top: 50%;
		transform: translateY(-50%);
		z-index: 100;
	}*/

	div.wrapper {
		display: block;
		vertical-align: middle;
		width: 166px;
		margin: 0 auto;
		margin-top: -10px;
		margin-bottom: 30px;
		position: relative;
		span.turnout {
			display: block;
			text-align: center;
			margin-top: 0;
			padding-top: 10px;
			font-family: "Benton Sans";
			font-weight: normal;
			img.warning {
				margin-bottom: 2px;
			}
		}
		span.partisan{
			display: block;
			text-align: center;
			margin-top: 0;
			padding: 1.5px 4px;
   			border-radius: 5px;
   			font-weight: normal;
			font-family: "Benton Sans";
			&.negative {
					background: #D6EAF8;
			}
			&.positive {
				background: #F2D7D5;;
			}
		}
		.button {
			width: 25px;
			height: 25px;
			border-radius: 50%;
			border: 1px solid gray;
			color: gray;
			margin: 5px;
			align-self: center;
			text-align: center;
			padding: 0;
			line-height: 1.4;
			opacity: 1;
			position: absolute;
			top: -2.5px;
			z-index: 100;
			&:hover {
				cursor:pointer;
				color: #333;
				border: 1px solid #333;
			}
			&.less {
				left: 60%;
			}
			&.more {
				right: -30%;
			}
		}
	}
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
   width: 50px;
   height: 50px;
   padding: 10px;
   background: transparent;
   color: gray;
   display: none;
   position: relative;
   transform: rotate(90deg);
   z-index: 10000;
   &:hover {
   	cursor: pointer;
   }
}

input[type="number"] {
    position: relative;
    text-align: center;
}

input[type="number"]:focus {
    outline: none;
}



div.wrapper {
	display: block;
	vertical-align: middle;
	width: 170px;
	margin: 0 auto;
	margin-top: -15px;
	margin-bottom: 10px;
	position: relative;
	height: 25px;
	span.turnout {
		display: block;
		position: relative;
		height: auto;
		margin-top: 15px;
		line-height: 1;
		font-weight: normal;
		&.negative {
			background: #D6EAF8;
		}
		&.positive {
			background: #F2D7D5;;
		}
		span {
			display: inline-block;
		}
		img.warning {
			display: inline-block;
			width: 20px;
			height: auto;
			margin-bottom: -5px;
			/*background: #F4D03F;*/
			padding: 0px;
			/*border-radius: 2px;*/
		}
		span.tooltip {
			visibility: hidden;
		    width: 250px;
		    display: block;
		    background-color: white;
		    color: #333;
		    border: 1px solid #333;
		    padding: 10px;
		    border-radius: 6px;
		    position: absolute;
		    z-index: 100;
		    left: -40px;
		    top: 100%;
		    font-size: 15px;
		    line-height: 1.4;
		}
	}
	.button {
		width: 25px;
		height: 25px;
		border-radius: 50%;
		border: 1px solid gray;
		color: gray;
		margin: 5px;
		align-self: center;
		text-align: center;
		padding: 0;
		line-height: 1.4;
		opacity: 1;
		position: absolute;
		top: -2.5px;
		z-index: 100;
		&:hover {
			cursor:pointer;
			color: #333;
			border: 1px solid #333;
		}
		&.less {
			left: 45%;
		}
		&.more {
			right: -0%;
		}
	}
}

div.wrapper span.turnout:hover {
	cursor: pointer;
}

div.wrapper span.turnout:hover span.tooltip {
	visibility: visible;
}