.table-wrapper {
	width: 100%;
	margin-top: 100px;
	margin-bottom: -50px;
	table {
		th {
			font-size: 14px;
		}
	}
}

table {
	font-size: 15px;
	font-family: "Benton Sans";
	span.turnout {
		color: #A6ACAF;
		font-weight: inherit;
	}
}

table.county-projections {
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 100px;
	width: 100%;
	.desktop-show {
		display: table-cell !important;
		@media only screen and (max-width: 900px) {
			display: none !important;
		}
	}
	&.no-marg {
		background: white;
		margin-top: 0;
		margin-bottom: 0;
	}
	.county, .votes-2016, .votes-2020 {
		width: 20%;
		@media only screen and (max-width: 900px) {
			width: 50%
		}
	}
	.votes-2016, .votes-2020 {
		text-align: right;
	}
	.r-2016, .r-2020, .d-2016, .d-2020 {
		width: 10%;
		text-align: right;
		@media only screen and (max-width: 900px) {
			width: 25%
		}
	}
}

.county {
	@media only screen and (max-width: 900px) {
		width: 50%;
	}
}


td.number {
	text-align: right;
	@media only screen and (max-width: 900px) {
		width: 25%;
	}
}

td {
	padding: 6px 5px;
	border-bottom: 1px #E5E7E9 solid;
	width: auto;
	vertical-align: middle;
	@media only screen and (max-width: 900px) {
		padding: 5px 5px;
		font-size: 15px;
	}
}

td.county {
	font-weight: bold;
	line-height: 1;
	span.type {
		font-weight: normal;
		font-size: 11px;
		display: inline-block;
		width: auto;
		color: #A6ACAF;
		text-transform: uppercase;
		letter-spacing: 0.5px;
	}
}

thead.sticky {
	background: white;
	padding-top: 10px;
	span.turnout {
		font-weight: bold;
	}

}

td.D-D-2016,
td.D-D-projected {
	background: #D6EAF8;
	border-bottom: 1px white solid;
}

td.R-R-2016,
td.R-R-projected {
	background: #F2D7D5;
	border-bottom: 1px white solid;
}

th {
	text-align: left;
	border-bottom: 1px solid black;
	background: white;
	padding: 10px 5px;
	vertical-align: bottom;
}